.info div {
  margin: 1.7px;
  max-width: 360px;
  word-wrap: break-word;
}

.contact {
  font-weight: bold;
  color: rgb(0, 47, 255);
  margin: auto;
  padding: 0.5px;
}

.contact:hover {
  color: rgb(186, 4, 192);
}

@media screen and (min-width: 760px) {
  .info div {
    max-width: 450px;
  }
}
