.query-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 10px;
  background-color: rgb(249, 249, 249);
  border-radius: 8px;
  box-shadow: 0 20px 30px 0 rgb(0 0 0 / 20%);
  list-style-type: none;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin: auto;
  max-width: 370px;
}

.query-nav label {
  padding: 4px;
}
.query-nav select,
.query-nav input {
  padding: 3px;
}

.query-name,
.careAndBehavior {
  margin-top: 28px;
  margin-bottom: 1px;
}

.query-btn {
  margin-top: 12px;
  padding: 6px;
  color: white;
  background-color: #72bbff;
  border-radius: 5px;
  border: 4px solid #72bbff;
}

.query-btn:hover {
  color: #c03acc;
  background-color: #ffffff;
  border: 4px solid white;
  cursor: pointer;
}

/* .navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
} */

@media screen and (min-width: 760px) {
  .query-nav {
    display: flex;
    margin-left: 20px;
    margin-right: 25px;
    margin-top: 16px;
    padding: 10px;
    border-radius: 8px;
    list-style-type: none;
  }
}
