.pal {
  display: flex;
  justify-content: center;
}

.pal-name {
  margin-top: 0px;
  margin-bottom: 8px;
}

.delete-pal {
  color: rgb(233, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 4px solid #ffffff;
  border-color: rgb(219, 219, 219);
}

.delete-pal:hover {
  color: white;
  background-color: red;
  border: 4px solid #ff0000;
  cursor: pointer;
}

.pal-bio {
  margin-top: 16px;
  width: 450px;
  max-height: 600px;
  padding: 10px;
  padding-top: 8px;
  background-color: rgb(249, 249, 249);
  border-radius: 5px;
}

.bio-no-delete {
  text-align: center;
}

@media screen and (max-width: 507px) {
  .pal-bio {
    margin-top: 15px;
    width: 392px;
  }
}

@media screen and (max-width: 450px) {
  .pal-bio {
    margin-top: 15px;
    width: 322px;
  }
}

@media screen and (max-width: 325px) {
  .pal-bio {
    margin-top: 15px;
    width: 239px;
  }
}
