.pal-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  background-image: url("pals-background.jpg");
  background-size: cover;
  padding-bottom: 40px;
}

.add-pals {
  text-align: center;
  padding: 18px;
  padding-top: 100px;
  color: white;
  font-size: 20px;
}
